<a href="https://colab.research.google.com/github/sarahmilleraws/Sarah-Project-1/blob/main/LastPythonSessionCohort007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cost_value = float(input("Enter the cost value"))

sell_value = float(input("Enter the sell value"))

inventory = int(input("Enter inventory"))

total_profit = inventory *((sell_value) - (cost_value))

print(round(total_profit))

Enter the cost value71.88
Enter the sell value98.88
Enter inventory500
13500

In [ ]:
sell_value= 45.00
cost_value=31.87

total_profit =((sell_value)-(cost_value))*1000

print(total_profit)

print(round(total_profit))

13129.999999999998
13130

In [ ]:
payroll = float(input("Enter the pay"))

print("${:.2f}".format(payroll))

Enter the pay29.98
$29.98

In [ ]:
tuple_1=("solar",)
print(tuple_1)

('solar',)

In [ ]:
city = ["Istanbul", "Izmir", "Manisa", "Eskisehir"]

print(city.sort(len(city))

print(city.pop(0))

Istanbul

In [ ]:
sequence=[1,2,3,4,1,5]

print(min(sequence))

print(max(sequence))

print(sequence.count(1))

print(max(sequence, key=sequence.count))

1
5
2
1

In [ ]:
x=(5+3j)
print(type(x))

<class 'complex'>

In [ ]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red'
set_2 = set(colors)
print(set_1)
#print(set_2)

{'red', 'blue', 'pink'}

In [ ]:
letter = "a b c d e f g h i j k l m n o p r s t u v y z".split()

print(set(letter))

print(letter)

{'r', 'z', 'e', 'n', 'o', 'v', 'g', 'j', 'f', 'd', 'a', 'h', 't', 'u', 'l', 's', 'b', 'c', 'k', 'm', 'p', 'y', 'i'}
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'y', 'z']

In [ ]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)
print(flowerset)
print(flowerlist)

{'carnation', 'rose', 'orchid', 'violet'}
['carnation', 'rose', 'orchid', 'violet']

In [ ]:
number = 7

if number >= 10:
    print("The number is equal or greater than 10")
elif number < 10:
    print("The number is less than 10")

The number is less than 10

In [ ]:
a=set("09/01/2021")

print(a)

{'9', '2', '/', '0', '1'}

In [ ]:
given_list=[1, 2, 3, 3, 3, 3, 4, 4, 5, 5]
print(given_list)

print(set(given_list))

[1, 2, 3, 3, 3, 3, 4, 4, 5, 5]
{1, 2, 3, 4, 5}

In [ ]:
USA_cap = set ("Washington")
NewZealand_cap = set ("Wellington")

print(USA_cap.intersection(NewZealand_cap))

{'t', 'i', 'g', 'W', 'n', 'o'}

In [ ]:
hamburger_bread= True
grocer= True
minced_meat= True
lettuce= True
pepper= True
onion= False

hamburger= minced_meat and grocer and hamburger_bread and (lettuce or onion)

print(hamburger)

if hamburger:
  print("Bon Appetit")

True
Bon Appetit

In [ ]:
grocery_store = True
minced_meat = False
hamburger_bread = True
lettuce = True
pepper = True
hamburger = grocery_store and minced_meat and hamburger_bread and (lettuce or pepper)
if hamburger is True: 
    print("Bon Appetit")
else :
    print("We should make another meal")

We should make another meal

In [ ]:
if 1:
  print("I will be executed")

I will be executed

In [ ]:
if "0":
  print("I will be executed")

I will be executed

In [ ]:
bool({ })

False

In [ ]:
if "False":
  print("clarusway")

clarusway

In [ ]:
left_hand =  set(“qwertasdfgzxcvb”)
right_hand = set(“yuiophjklnm”)
words = set(input("Enter a new word: "))
words.intersection(left_hand) !=  set() and words.intersection(right_hand) != set()

In [ ]:
left = set('qwertasdfgzxcvb') 

right= set('yuiophjklnm')

word = set(input("Enter a word : "))

#com_word = set(word.intersection(left_hand): set() and word.intersection(right_hand): set())

False = left

word = bool(left.intersection(right)) 

print("This word is a comfortable word")

Enter a word : yuklıjm
This word is a comfortable word

In [ ]:
left = set('qwertasdfgzxcvb')

right = set('yuiophjklnm')

#word = input("Enter a word: ")

#left_hand = set(word.intersection(left))

right_hand = set(left.union(right))

print(left)

print(right)

print(right_hand)

{'s', 't', 'd', 'z', 'c', 'v', 'r', 'e', 'w', 'f', 'x', 'q', 'g', 'b', 'a'}
{'k', 'j', 'y', 'u', 'p', 'l', 'h', 'n', 'ı', 'o', 'm'}
{'s', 'z', 'd', 'v', 'c', 'k', 'j', 'u', 'm', 'n', 'w', 'b', 't', 'r', 'y', 'p', 'e', 'l', 'h', 'f', 'ı', 'x', 'q', 'g', 'o', 'a'}

In [ ]:
left = set('qwertasdfgzxcvb')

word = set('hospital')

left_hand = set(left.intersection(word))

print(left_hand)

{'s', 't', 'a'}

In [ ]:
left = set ("qwertasdfgzxcvb")

right = set ("yuiophjklnm")

word = set (input("Enter a word: "))

x1 = bool(word.intersection(left))

x2 = bool(word.intersection(right))

result = bool(x1 and x2)

print(result)

if result == True:
  print("This is a comfortable word.")

Enter a word: tester
False

In [ ]:
left = set ("qwertasdfgzxcvb")

right = set ("yuiophjklnm")

word = set ("pokumnı")

x1 = bool(word.intersection(left))

x2 = bool(word.intersection(right))

result = bool(x1 and x2)
print(result)

False

In [ ]:
x, y, z = "five", 5, True

print(x, y, z)

five 5 True

In [ ]:
set_a = set("TWELVE PLUS ONE")

set_b = set("ELEVEN PLUS TWO")

if set_a == set_b:
      print("We are the same!")

We are the same!

In [ ]:
status = input("Enter Yes or No :").title().strip() == "Yes"

print("You entered", status)

Enter Yes or No :No
You entered False

In [ ]:
Yes = True
No = False

answer = Yes

if answer == Yes:
  print("You entered True.")

You entered True.

In [ ]:
course = "clarusway"

if course == "clarusway":
  print("You guarented a job.")

else:
  print("You must be meet clarusway")

You guarented a job.

In [ ]:
even = [0, 2, 4, 6, 8]

odd = [1, 3, 5, 7, 9]

num = int(input("Enter a number 0-10 : "))

if num == even:
print(num, "number is even")
else:
print(num, "number is odd")

IndentationError: ignored

In [ ]:
number = float(input("Enter a number : "))

if number >= 0 :
  print(number, "number is positive")
elif number < 0 :
  print(number, "number is negative")

Enter a number : -9
-9.0 number is negative

In [ ]:
number_1 = int(input("Enter number_1: "))

number_2 = int(input("Enter number_2: "))

if number_1 < number_2 :
  print("number_2 larger than number_1")
else:
  print("number_1 larger than number_2")

Enter number_1: 12
Enter number_2: 8
number_1 larger than number_2

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
What number am I thinking of?  1
Little higher
What number am I thinking of?  20
Little higher
What number am I thinking of?  40
Little higher
What number am I thinking of?  45
Little lower
What number am I thinking of?  44
Are you a MINDREADER!!!

In [ ]:
answer = 45

question = "What a number am I thinking of my mind? :"

print("Let's play the guessing game!")

while True:

  guess = int(input(question))

  if guess < answer:
    print("Little higher!")
  elif guess > answer:
    print("Little lower!")
  else:
    print("Are you a MINDREADER!")
    break

Let's play the guessing game!
What a number am I thinking of my mind? :23
Little higher!
What a number am I thinking of my mind? :27
Little higher!
What a number am I thinking of my mind? :40
Little higher!
What a number am I thinking of my mind? :45
Are you a MINDREADER!

In [ ]:
word1 = input("Please, enter a long word :")

word2 = input("Please, enter a long word :")

while True:
  if (len(word1)) > (len(word2)):
    print("The longest word is", word1)
    break
  else:
    print("The longest word is", word2)
    break

Please, enter a long word :patenci
Please, enter a long word :clarusway
The longest word is clarusway

In [ ]:
sentence = input("Give me a sentence :")

words = sentence.split()
longest= 0
i = 0
while i < len(words) :
  if len(words[i]) > longest:
    longest = len(words[i])
  i += 1

print("The lengt of the longest word is :", longest)

Give me a sentence :i am an instructor of clarusway
The lengt of the longest word is : 10

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 

while count > 0 :
    print(flowers[0:3])
    count1 -= ...
    count2 += ...

SyntaxError: ignored

In [ ]:
for i in [1, 2, 3, 4]:
    square = i**2
    print(i, square)

1 1
2 4
3 9
4 16

In [ ]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times):
    print('I love you')

How many times should I say 'I love you'3
I love you
I love you
I love you

In [ ]:
n = int(input('enter a number between 1-10: '))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

enter a number between 1-10: 7
7x0 =  0
7x1 =  7
7x2 =  14
7x3 =  21
7x4 =  28
7x5 =  35
7x6 =  42
7x7 =  49
7x8 =  56
7x9 =  63
7x10 =  70

In [ ]:
x = 3

y = 9 

z = 11 

if (x > y) and (x > z):
  print("The larger number is", x)
elif (y > x) and (y > z):
  print("The larger number is", y)
else :
  print("The larger number is", z)

The larger number is 11

In [ ]:
number = int(input("Enter a number: "))


if number < 0:
  print("Number is negative")
elif number == 0:
  print("Number is zero")
else:
  print("Number is positive")

Enter a number: -10
Number is negative

In [ ]:
exam =  float(input("Enter a exam score: "))

if (0 < exam < 100):
  if (exam >= 95):
    print("A+")
  elif (90 <= exam < 95):
    print("A")
  elif (85 <= exam < 90):
    print("B+")
  elif (80<= exam <85):
    print("B")
else:
  print("B-")
print("Your degree is", exam)

Enter a exam score: 85
B+
Your degree is 85.0

In [ ]:
score = int(input("enter a exam score: "))

if score >= 90:
  if score >=95:
    score_letter = "A+"
  else:
    score_letter = "A"
elif score>= 80:
  if score >= 85:
    score_letter = "B+"
  else:
    score_letter = "B"
else:
  score_letter = "B-"
print(score_letter)

enter a exam score: 92
A

In [ ]:
age = input("Enter your age: ")

while type(age) == int:
  print("Your age is correct numeric format.")
  break
while type(age) != int:
  print("Your age is not correct numeric format. ")
  break

Enter your age: "25"
Your age is not correct numeric format.

In [ ]:
age = input("Enter your age: ")

while True:
  if type(age) == int:
    print("Your age is correct numeric format.")
  else :
    print("Your age is not correct numeric format.")
    break

Enter your age: 21.45
Your age is not correct numeric format.

In [ ]:
age = input("Enter your age please: ")

while not age.isdigit():
  print("You entered incorrectly!")
  age = input("Enter your age again please: ")
print("Great! You entered valid input and your age is ", age)

Enter your age please: -65
You entered incorrectly!
Enter your age again please: *98
You entered incorrectly!
Enter your age again please: 32
Great! You entered valid input and your age is  32

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]

i = 0
output = []
for fruit in fruits:
  for qty in quantities:
    for price in prices:
      output.append((fruit, qty, price))
  i += 1
print(output)

[('Apples', 5, 1.5), ('Apples', 5, 2.25), ('Apples', 5, 0.89), ('Apples', 3, 1.5), ('Apples', 3, 2.25), ('Apples', 3, 0.89), ('Apples', 4, 1.5), ('Apples', 4, 2.25), ('Apples', 4, 0.89), ('Oranges', 5, 1.5), ('Oranges', 5, 2.25), ('Oranges', 5, 0.89), ('Oranges', 3, 1.5), ('Oranges', 3, 2.25), ('Oranges', 3, 0.89), ('Oranges', 4, 1.5), ('Oranges', 4, 2.25), ('Oranges', 4, 0.89), ('Bananas', 5, 1.5), ('Bananas', 5, 2.25), ('Bananas', 5, 0.89), ('Bananas', 3, 1.5), ('Bananas', 3, 2.25), ('Bananas', 3, 0.89), ('Bananas', 4, 1.5), ('Bananas', 4, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]


output = []
i = 0
for i in fruits:
  for ii in quantities:
    for iii in prices:
     output.append(tuple([i, ii, iii]))
i += "1"
ii += 1
iii += 1
print(output)

[('Apples', 5, 1.5), ('Apples', 5, 2.25), ('Apples', 5, 0.89), ('Apples', 3, 1.5), ('Apples', 3, 2.25), ('Apples', 3, 0.89), ('Apples', 4, 1.5), ('Apples', 4, 2.25), ('Apples', 4, 0.89), ('Oranges', 5, 1.5), ('Oranges', 5, 2.25), ('Oranges', 5, 0.89), ('Oranges', 3, 1.5), ('Oranges', 3, 2.25), ('Oranges', 3, 0.89), ('Oranges', 4, 1.5), ('Oranges', 4, 2.25), ('Oranges', 4, 0.89), ('Bananas', 5, 1.5), ('Bananas', 5, 2.25), ('Bananas', 5, 0.89), ('Bananas', 3, 1.5), ('Bananas', 3, 2.25), ('Bananas', 3, 0.89), ('Bananas', 4, 1.5), ('Bananas', 4, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
def my_function(a,b):
  print(a * b)
my_function(3, 4)
my_function(5, 7)

12
35

In [ ]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]

for i in names:
  print("Hello", names)
  break

Hello ['Ahmed', 'Aisha', 'Adam', 'Joseph', 'Gabriel']

In [ ]:
number = range(1, 6)

for i in number:
  print(list(number))
  break

[1, 2, 3, 4, 5]

In [ ]:
course = "Clarusway"
i=0
for i in course.split("-"):
  print(("-".join(course).sort))

AttributeError: ignored

In [ ]:
word = input("Give me a word: ")
count=0

for i in word :
  count += 1
  if count < len(word) :
    i = i + "-"
  print(i, end="")

Give me a word: world
w-o-r-l-d

In [ ]:
word = "clarusway"

print(*"clarusway", sep="-")

c-l-a-r-u-s-w-a-y

In [ ]:
"world".split()
word= "world"
for i in word.split() :
  print("-".join(word))

w-o-r-l-d

In [ ]:
for i in word :
  print("-".join(word))
  break

w-o-r-l-d

In [ ]:
"/".join(["world", "jupiter", "uranüs"])

'world/jupiter/uranüs'

In [ ]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
} 
for i in user.values():
  print(i, end= " ")

Daniel Smith 35

In [ ]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
} 
for key, value in user.items():
  print(key, ":", value)

name : Daniel
surname : Smith
age : 35

In [ ]:
my_mix = [("one", 1), ("two", 2), ("three", 3)]

for string, integer in my_mix:
  print(string, integer)

one 1
two 2
three 3

In [ ]:
for i in my_mix:
  print(i)

('one', 1)
('two', 2)
('three', 3)

In [ ]:
number = 5
i=0

for i in range(10):
  result =number*i
  i+=1
  print(result)

print(number, "*", i, "=", result)

0
5
10
15
20
25
30
35
40
45
5 * 10 = 45

In [ ]:
a= set(range(11))
print(a)
for i in range(11):
  print(i, end=" ") 

print(*(range(11)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
0 1 2 3 4 5 6 7 8 9 10 0 1 2 3 4 5 6 7 8 9 10

In [ ]:
print(*range(5, 25, 2))

5 7 9 11 13 15 17 19 21 23

In [ ]:

numbers = range(0, 11)

print(numbers)

range(0, 11)

In [ ]:
"a"<"b"
ord("a")
#ord("b")

97

In [ ]:
evens = [0, 2, 4, 6, 8]
odds = [1, 3, 5, 7, 9]

for  evens, odds in zip(odds, evens)
  print(odds,evens)

0 1
2 3
4 5
6 7
8 9

In [ ]:
odds = []
evens = []

for n in range(10):
  if n % 2 == 0:
    evens.append(n)
  else:
    odds.append(n)

print(evens)
print(odds)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
def my_function(a,b) :
  print(a*b)
my_function(5,10)
my_function(3,6)

50
18

In [ ]:
odd_even = [11, 2, 24, 61, 48, 33, 3]
odd = 0
even =0

for n in odd_even :
  if n % 2 == 0:
    even +=1
  else:
    odd +=1
print(even)
print(odd)

3
4

In [ ]:
for i in range(1, 10) :
  print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
sum = 0
for i in range(1, 75) :
  sum += i
print(sum)

2775

In [ ]:
who= ["I am ", "You are "]
mood = ["happy ", "confident"]
for i in who:
  for ii in mood:
    print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [ ]:
names = ["susan ", "tom ", "edward "]
mood = ["happy", "sad"] 

for i in names:
  for ii in mood:
    print(i + "is " + ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [ ]:
ps4_price = 300

question = "Could I save enough money to sell a PS4 ?"

while True :
  saved_amount = int(input('Please enter your saved amount: '))


  if saved_amount <= (ps4_price/2) :
    print("You must save more, keep saving!")
  elif saved_amount > (ps4_price/2) :
    print("You saved more than half, keep saving!")
  else :     # saved_amount > ps4_price 
    print("Yippee! You can buy your PS4")
    break

In [ ]:
x = 10
def my_function_1(): 
    x = 20 
    print(x)
print(x)

10

In [ ]:
def enclosing_func1():
    x = 'outer variable'
    def enclosing_func2():
        nonlocal x  # its inner-value can be used in the outer scope
        x = 'inner variable'
        print("inner:", x)
    enclosing_func2()
    print("outer:", x)

enclosing_func1()

inner: inner variable
outer: inner variable

In [ ]:
x = 10
  
def my_function():  # fix me!
    global x
    x += 5
    print(x)
    #x += 5  
 
my_function()
print(x)

15
15

In [ ]:
x = 10
def my_function_1(): 
    x = 20 
    print(x)
my_function_1() 
y = 10  
def my_function_2(): 
    y += 5 
    print(y)
my_function_2()

In [ ]:
def myfunc1():
  x = "hi"
  def myfunc2():
    x = "hello"
  myfunc2() 
  return x

print(myfunc1())

hi

In [ ]:
x = 'My name is Richard'
def my_function_1(): 
    x = 'My name is John' 

my_function_1()
print(x)

My name is Richard

In [ ]:
city = "I love Paris!"

def my_function():
    global city 
    city = "I love London!"
    print(city)

my_function()
print(city)

I love London!
I love London!

In [ ]:
def outer():
    x = "previous"   
    def inner():
        nonlocal x
        x = "later"
        print("inner:", x)   
    inner()
    print("outer:", x)

In [ ]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda

In [ ]:
def enclosing_func1():
    x = 'outer variable'
    def enclosing_func2():
        nonlocal x  # its inner-value can be used in the outer scope
        x = 'inner variable'
        print("inner:", x)
    enclosing_func2()
    print("outer:", x)

enclosing_func1()

inner: inner variable
outer: inner variable

In [ ]:
result=lambda echo_word(a,b):a*b
print(echo_word('hello', 3))

SyntaxError: ignored

In [ ]:
print((lambda a,b: a*b) ('hello',3))

hellohellohello

In [ ]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [ ]:
number_list = [1, 2, 3, 4, 5]
#result = map(lambda x:x*3, number_list)
print(list(map(lambda x:x*3, number_list)))

[3, 6, 9, 12, 15]

In [ ]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))
print('Even numbers are :', list(even))

<class 'filter'>
Even numbers are : [0, 2, 4, 6, 8]

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 
print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [ ]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = filter(lambda x: x>5, number_list) 
print(list(result))

[6, 7, 8, 9, 10]

In [ ]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = list(filter(lambda x : x >= 6, number_list))

In [ ]:
y = 10
def my_function_2():
    global y
    y += 5
    print(y)
my_function_2()

15

In [ ]:
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
from math import pi, factorial, log10  # we'll use the functions directly

print(pi)  # it also contains several arithmetic constants
print(factorial(4))  # gives the value of 4!
print(log10(1000))

3.141592653589793
24
3.0

In [ ]:
def factor(x):

    result = 1
    for i in range(x):
        result *= (i+1)
    return print(result)

In [ ]:
def my_function_1(a, b):
    area = a * b
    return area

def my_function_2(a, b):
    hypotenuse = (a**2 + b**2)**0.5
    return hypotenuse

area=my_function_1(10,20)

hypotenuse=my_function_2(30,40)

print(area)
print(hypotenuse)

200
50.0

In [ ]:
pwd

'/content'

In [ ]:
(lambda x : x + ":)")("hello")

'hello:)'

In [ ]:
def functioner(emoji) :
  return lambda x: x + emoji
  

functioner(":)")

In [ ]:
def equal(a,b,c):
  number=[a,b,c]
  res=number.count(max(number,key=number.count))
  if res>1:
    return res 
  else:
    return 0

equal(3,4,1)

0

In [ ]:
def equall(* a):
  numbers =list(a)
  res=numbers.count(max(numbers, key=numbers.count))
  if res > 1:
    return res 
  else:
    return 0

equall(1,2,1,4,1,6,7,7,7,7,7,7)

6

In [ ]:
equal_lambda= lambda x,y,z :[x,y,z].count(max([x,y,z], key=[x,y,z].count))\
if [x,y,z].count(max([x,y,z], key=[x,y,z].count)) > 1 else 0

equal_lambda(2,2,2)

3

In [ ]:
equal_lambda= lambda *x :x.count(max(x), key=x.count)\
if x.count(max(x), key=x.count) > 1 else 0

equal_lambda(2)

In [ ]:
def func_generator(function_name) :
  return lambda x : function_name(x)

myPrint=func_generator(print)

myPrint("amazing")

amazing

In [ ]:
from math import pi, factorial, log10

print(pi) 
print(factorial(4)) 
print(log10(1000))

3.141592653589793
24
3.0

In [ ]:
import string as stg
print(stg.punctuation)
print(stg.digits)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789

In [ ]:
import datetime
print(datetime.date.today())
print(datetime.datetime.now())

2021-01-28
2021-01-28 20:03:51.197780

In [ ]:
from datetime import date

birth = date(571, 4, 22)
death = date(632, 6, 8)
life_day=date.toordinal(death)-date.toordinal(birth)
print(life_day)

22327

In [ ]:
from random import choice
city=['Stockholm', 'Istanbul', 'Seul', 'Cape Town']
print(choice(city))

Seul

In [ ]:
import earth.europe.kosovo

earth.europe.kosovo.a_function

In [ ]:
from earth import europe.kosovo

In [ ]:
odd_even=(lambda x: "odd" if x%2 != 0 else "even")(5)
print("is", odd_even)

is odd

In [ ]:
word_list= [['C', 'L'], ['A', 'R', 'U'], ['S', 'W', 'A', 'Y']]
filter_list= (lambda x,y,z: [x,y,z].count(max([x,y,z], key=[x,y,z].count)) if len([x,y,z].count(max([x,y,z], key=[x,y,z].count)))(word_list)
print(tuple(filter_list))

In [ ]:
word_list= [['C', 'L'], ['A', 'R', 'U'], ['S', 'W', 'A', 'Y']]
filter_list= (lambda x: list(x).count(max(list(x), key=list(x).count)) if len(list(x).count(max(list(x), key=list(x).count)))(word_list)
print(filter_list)

SyntaxError: ignored

In [ ]:
def equal(a,b,c):
  number=[a,b,c]
  word_list= [['C', 'L'], ['A', 'R', 'U'], ['S', 'W', 'A', 'Y']]
  res=.count(max(number,key=number.count))(word_list)
  if res>1:
    return res 
  else:
    return 0

print(res)

SyntaxError: ignored

In [ ]:
 def sum_double(x, y):
    if x != y :
        return(x+y)
    else :
        return(x+x+y+y)

print(sum_double(2,5))

7

In [ ]:
def parrot_trouble(talking, hour):
    
  if talking == True :
    if hour<6 :
      return(True)
    elif hour>22 :
      return(True)
    else :
      return(False)
  else :
      return(False)

print(parrot_trouble(False, 22))

False

In [ ]:
with open("istiklal.txt", "r") as f:
  print(f.read())

Korkma, sönmez bu şafaklarda yüzen al sancak;
Sönmeden yurdumun üstünde tüten en son ocak.
O benim milletimin yıldızıdır, parlayacak;
O benimdir, o benim milletimindir ancak.
Çatma, kurban olayım, çehreni ey nazlı hilal!
Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?
Sana olmaz dökülen kanlarımız sonra helal...
Hakkıdır, hakk'a tapan, milletimin istiklal!
Ben ezelden beridir hür yaşadım, hür yaşarım.
Hangi çılgın bana zincir vuracakmış? Şaşarım!
Kükremiş sel gibiyim, bendimi çiğner, aşarım.
Yırtarım dağları, enginlere sığmam, taşarım.
Garbın afakını sarmışsa çelik zırhlı duvar,
Benim iman dolu göğsüm gibi serhaddim var.
Ulusun, korkma! Nasıl böyle bir imanı boğar,
'Medeniyet!' dediğin tek dişi kalmış canavar?
Arkadaş! Yurduma alçakları uğratma, sakın.
Siper et gövdeni, dursun bu hayasızca akın.
Doğacaktır sana va'dettigi günler hakk'ın...
Kim bilir, belki yarın, belki yarından da yakın.
Bastığın yerleri 'toprak!' diyerek geçme, tanı:
Düşün altında binlerce kefensiz yatanı.
Sen şehit oğlusun, incitme, yazıktır, atanı:
Verme, dünyaları alsan da, bu cennet vatanı.
Kim bu cennet vatanın uğruna olmaz ki feda?
Şuheda fışkıracak toprağı sıksan, şuheda!
Canı, cananı, bütün varımı alsın da hüda,
Etmesin tek vatanımdan beni dünyada cüda.
Ruhumun senden, ilahi, şudur ancak emeli:
Değmesin mabedimin göğsüne namahrem eli.
Bu ezanlar-ki şahadetleri dinin temeli,
Ebedi yurdumun üstünde benim inlemeli.

In [ ]:
with open() as f:

In [ ]:
import csv
with open("people.csv", "r", "encoding=utf-8") as file:
  csv_rows=csv.reader(file)

  for row in csv_rows:
    print(row)

TypeError: ignored

In [ ]:
no1=20
no2=30
addition= no1 + no2

print(addition)
print("{:,}".format(addition))

50
50

In [ ]:
a, _, c, _=(10,20,30,40)
a, c

(10, 30)

In [ ]:
x, y, *z = (11, 22, 33, 44, 55)
z
x
y

22

In [ ]:
x, y, *z, t=(11, 22, 33, 44, 55)
x

11

In [ ]:
y

22

In [ ]:
z

[33, 44]

In [ ]:
t

55

In [ ]:
try:
  with open("my_file_.txt", "r", encoding="utf-8") as file:
    print(file.read())
except:
  print("There is not such a file or the path is incorrect.")

There is not such a file or the path is incorrect.

In [ ]:
try:
  with open("my_file_.txt", "r", encoding="utf-8") as file:
    print(file.read())
except FileNotFoundError:
  print("There is not such a file or the path is incorrect.")

There is not such a file or the path is incorrect.

In [ ]:
try:
  print("x" + 4)
except TypeError:
  print("Invalid Value")
else:
  print("There is no exception")
finally:
  print("I execute all time")

Invalid Value
I execute all time

In [ ]:
try:
  print("x" + "4")
except TypeError:
  print("Invalid Value")
else:
  print("There is no exception")
finally:
  print("I execute all time")

x4
There is no exception
I execute all time

In [ ]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two  # normal part of the program
    except ValueError:
      print("Correct Value please")
    except ZeroDivisionError:
        print("You can't divide by zero! Try again.")  # executes when division by  zero
    else:
        print("The result of the division is : ", division)  # executes if there is no exception
    finally:
        print("Thanks for using our mini divison calculator! Come again!")
        break  # exits the while loop

The first number please : 12
The second number please : y

ValueError: ignored

In [ ]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two
        print("The result of the division is : ", division)
        break
    except Exception as e:
        print("Something went wrong...Try again.")
        print("Probably it is because of '{}' error".format(e))
        break

The first number please : 5
The second number please : 0
Something went wrong...Try again.
Probably it is because of 'division by zero' error

In [ ]:
try:
  "a"+4
except Exception as variable:
    print("the error is:", variable)

the error is: must be str, not int

In [ ]:
try:
  a
except Exception as e:
  print(e)

name 'a' is not defined

In [ ]:
try:
  4/0
except Exception as jj:
  print(jj)

division by zero

In [ ]:
try:
  a=10
  b=2
  print("The result of division is:", c)
except Exception as e:
  print("The error message is: ", e)

The error message is:  name 'c' is not defined

In [ ]:
try:
  "a"+ 5
except ZeroDivisionError:
  print("You cannot divide a number by zero")
except ValueError:
  print("use a valid value")
except:
  print("Something goes wrong")

Something goes wrong

In [ ]:
....
except(ValueError, TypeError):
  print("Unknown exception error occured.")

SyntaxError: ignored

In [ ]:
fruits = ["banana", "mango", "pear", "apple", "kiwi", "grape"]

while True:
  try:
    chose=int(input("please write a index number : "))
    print("My favorite fruit is", fruits[chose])
    break
  except IndexError:
    print("There is no such an index,try again!")
  except ValueError:
    print("You should use integer number, try again!")

please write a index number : h
You should use integer number, try again!
please write a index number : 63
There is no such an index.
please write a index number : 5
My favorite fruit is grape

In [ ]:
fruits = ["banana", "mango", "pear", "apple", "kiwi", "grape"]

count=3

while count > 0:
  try:
    chose=int(input("please write an index number : "))
    print("My favorite fruit is", fruits[chose])

  except IndexError:
    count-=1
    print("There is no such an index,try again!")
  except ValueError:
    count-=1
    print("You should use integer number, try again!")
  else:
    print("Congrats! You've entered a valid input.")
    break
  finally:
    print("Our fruits are always fresh!")

please write an index number : 6
There is no such an index,try again!
Our fruits are always fresh!
please write an index number : l
You should use integer number, try again!
Our fruits are always fresh!
please write an index number : 2
My favorite fruit is pear
Congrats! You've entered a valid input.
Our fruits are always fresh!

In [ ]:
fruits = ["banana", "mango", "pear", "apple", "kiwi", "grape"]

count=3

while count > 0:
  try:
    chose=int(input("please write an index number : "))
    print("My favorite fruit is", fruits[chose])

  except IndexError:
    count-=1
    print(f"There is no such an index,try again!")
  except ValueError:
    count-=1
    print("You should use integer number, try again!")
  else:
    print("Congrats! You've entered a valid input.")
    break
  finally:
    print("Our fruits are always fresh!")

In [ ]:
import math
math.factorial(4)

24

In [ ]:
def my_factorial(n):

  if n==0:
    return 1
  else:
    return n * my_factorial(n-1)

my_factorial(4)

24

In [ ]:
my_factorial(11)

39916800

In [ ]:
[]+[2]

[2]

In [ ]:
[1] + [3]

[1, 3]

In [ ]:
def sudoku(size):
    import random as rn
    mydict = {}
    n = 0
    while len(mydict) < 9:
        n += 1
        x = range(1, size+1)
        testlist = rn.sample(x, len(x))

        isgood = True
        for dictid,savedlist in mydict.items():
            if isgood == False:
                break
            for v in savedlist:
                if testlist[savedlist.index(v)] == v:
                    isgood = False
                    break
        if isgood == True:
            #print 'success', testlist
            mydict[len(mydict)] = testlist
    return mydict, n

return_dict, total_tries = sudoku(9)
for n,v in return_dict.items():
    print(n,v)
print('in',total_tries,'tries')

0 [3, 8, 5, 9, 4, 6, 7, 2, 1]
1 [2, 3, 1, 8, 7, 4, 6, 9, 5]
2 [8, 1, 4, 3, 5, 7, 2, 6, 9]
3 [4, 2, 7, 5, 1, 9, 3, 8, 6]
4 [9, 4, 2, 7, 6, 3, 1, 5, 8]
5 [5, 7, 6, 4, 9, 1, 8, 3, 2]
6 [7, 9, 8, 6, 2, 5, 4, 1, 3]
7 [6, 5, 3, 1, 8, 2, 9, 7, 4]
8 [1, 6, 9, 2, 3, 8, 5, 4, 7]
in 22531 tries

In [ ]:
import os

In [ ]:
pwd

'/content'

In [ ]:
os.listdir()

['.config', 'sample_data']

In [ ]:
import glob

In [ ]:
import glob
for file in glob.glob("*.txt"):
  print(file)

In [ ]:
import shutil

shutil.copy("rumi.txt", "../rumi_copy.txt")

'../rumi_copy.txt'

In [ ]:
import sys

In [ ]:
x=[1, 2, 3]
y=(1, 2, 3)
print(sys.getsizeof(x))
print(sys.getsizeof(y))

88
72

In [ ]:
sudoku = [
    [0, 0, 0, 0, 6, 4, 0, 0, 0],
    [7, 0, 0, 0, 0, 0, 3, 9, 0],
    [8, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 5, 0, 2, 0, 6, 0],
    [0, 8, 0, 4, 0, 0, 0, 0, 0],
    [3, 5, 0, 6, 0, 0, 0, 7, 0],
    [0, 0, 2, 0, 0, 0, 1, 0, 3],
    [0, 0, 1, 0, 5, 9, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 7, 0, 0]
]

counter = 0

for i in sudoku :
  for j in range(9) :
    print(i[j], " ", end="")
    if (j+1) == 9 :
      print()
      counter += 1
      if counter % 3 == 0 and counter != 0 :
        print("- - - - - - - - - - - - - - -")
    if (j+1) % 3 == 0 and j != 0 and j != 8:
      print("| ", end="")

0  0  0  | 0  6  4  | 0  0  0
7  0  0  | 0  0  0  | 3  9  0
8  0  0  | 0  0  0  | 0  0  0
- - - - - - - - - - - - - - -
0  0  0  | 5  0  2  | 0  6  0
0  8  0  | 4  0  0  | 0  0  0
3  5  0  | 6  0  0  | 0  7  0
- - - - - - - - - - - - - - -
0  0  2  | 0  0  0  | 1  0  3
0  0  1  | 0  5  9  | 0  0  0
0  0  0  | 0  0  0  | 7  0  0
- - - - - - - - - - - - - - -

In [ ]:
....

a =[]

for i in x :
  for j in i :
    for z in j :
      a.append(z)
a

In [ ]:
[body for i in x for j in i for z in j]

In [ ]:
[z for i in x for j in i for z in j]

In [ ]:
import datetime

def show_time():

  time = datetime.now()

datetime.now()

In [ ]:
my_list = [1,3,6,10]
a = (x ** 2 for x in my_list)
a

In [ ]:
n=3
comb=['()']
c=1
while c < n :
  comb = list(set([i[:j]+"()"+i[j:] for i in comb for j in range(len(i))])
  c += 1
  if n==0 : comb =[""]
  comb
#body if condition else body2

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat"]
anag={}
for i in strs :
  element = "".join(sorted(i))
  if element in anag :
    anag[element].append(i)

  else :
    anag[element] = [i]

In [ ]:
"".join(sorted("eat"))

'aet'

In [ ]:
dd = {}
dd["aet"] = ["eat"]
dd["aet"].append("tea")
dd

{'aet': ['eat', 'tea']}

In [ ]:
dd

{'aet': ['eat']}