<a href="https://colab.research.google.com/github/sarahmilleraws/Sarah-Project-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A=1000
f=0.7
a=1.07
d=7
print(float(A*(a)**d))
im= int(A*(a)**d)
print(im - A)

1605.7814764784307
605

In [ ]:
x="age"  # a cigarette addict older than 75 years old.
y="chronic"  # have a severe chronic disease.
z="immune" #immune system to weak.
R="risk"  # 'True:there is a risk of death' and 'False: there is not a risk of death'

x= " >= 75 " 
True
x= " < 75 "
False
y= " have a chronic disease "
True
y= " not have a chronic disease "
False
z= " immune system to weak "
True
z= " immune system to strong "
False

R=( x and y and z )
R2=( x or y or z )
R3=( x and y or z )

print( R )
print( R2 )
print( R3 )

x="80"
y=" not have a chronic disease"
z="immune system to strong"

 immune system to strong
 < 75
 not have a chronic disease

In [ ]:
#age  #a sigarette addict older than 75
#chronic   #have a chronic disease
#immune  #immune system to weak
# risk: There is a risk of death because of covid-19

age = int(input("Enter your age, please: "))
chronic = input("Are you have a chronic disease? Please answer: Yes/No :")
immune = input("Is your immune system weak? Please answer: Yes/No :")

if age > 75: 
  #print("Your age is upper than 75.")
  if (chronic == "Yes") and (immune == "Yes"):
    print("You are high risk of death because of covid-19.")
  elif (chronic == "Yes") and (immune == "No"):
    print("You are a risk of death because of covid-19.")
  elif (chronic == "No") and (immune == "Yes"):
    print("You are a risk of death because of covid-19.")
  else:
    print("You are a low risk of death because of covid-19.")

elif age < 75:
  #print("Your age is lower than 75.")
  if (chronic == "Yes") and (immune == "Yes"):
    print("You are a risk of death because of covid-19.")
  elif (chronic == "No") and (immune == "Yes"):
    print("You are a low risk of death because of covid-19.")
  else:
    print("You are not a risk of death because of covid-19.")

else:
    print("You are not a risk of death because of covid-19.")

Enter your age, please: 16
Are you have a chronic disease? Please answer: Yes/No :No
Is your immune system weak? Please answer: Yes/No :No
You are not a risk of death because of covid-19

In [ ]:
print( False and {} or [] )

[]

In [ ]:
age= True     # a sigarette addict older than 75
chronic=True    #have a chronic disease
immune= False   #immune system to weak
# risk: There is a risk of death because of covid-19

risk1=age or chronic or immune
risk2=age or chronic and immune
risk3=age and chronic and immune
risk4=age and chronic or immune

print (risk1)
print(risk2)
print(risk3)
print(risk4)

True
True
False
True

In [ ]:
x=False
y=not x
print( not ( x and y ) )

True

In [ ]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [ ]:
print( not None or 1 )

True

In [ ]:
print(float("140" * int(input("Enter a number:" ))))
print(int(input("Enter a number:" )))

Enter a number:2
140140.0
Enter a number:2
2

In [ ]:
city = "SARAJEVO"
sentence = "I live in "
text = (sentence + f"{city.capitalize( )}.")
print(text)

I live in Sarajevo.

In [ ]:
sample="{2 ** 3}"
print(sample)

{2 ** 3}

In [ ]:
name = "mariam"
output =  "My name is" + " " + name.capitalize( )
print(output)

My name is Mariam

In [ ]:
text='S0d0me and G0m0re'
print(text.replace("0", "o"))

Sodome and Gomore

In [ ]:
text='tyou cen learn almost everythingz'
text.strip("tz").upper()
print(text)

tyou cen learn almost everythingz

In [ ]:
word = 'clarusway'
n = 3
front ="cla"
back ="usway"
print(front + back)

clausway

In [ ]:
#Hello! I am a new programmer and I love Clarusway.
text = "{}! I am a {} programmer and I {} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

In [ ]:
city = "SARAJEVO"
text = "I live in" + " " + f"{city.capitalize()}."
print(text)

I live in Sarajevo.

In [ ]:
# C = Celcius Temperature
# F = Fahrenheit Temperature
C= 35
F =(C * (1.80) + 32.00)

print(F)

95.0

In [ ]:
# km = kilometer
# m = mile
km = 60
m = ( km / (1.609344))

print(m)

37.28227153424004

In [ ]:
print(not 0 and "write me")

write me

In [ ]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [ ]:
text = "2020's hard"
str_list_1 = list(text)
str_list_2 = [text]
print(str_list_1)
print(str_list_2)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']
["2020's hard"]

In [ ]:
a_b_c = 1,000,000
print(a_b_c)
a b c = 1000 2000 3000
print(a b c)

SyntaxError: ignored

In [ ]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
mix_value = [10, False, 'fruit', 1.618]
mix_value.append('vegetable', 2+3j)

print(len(mix_value))

TypeError: ignored

In [ ]:
numbers = [3, 6, 7, 8, 1, 2, 5, 9, 10, 4]
numbers.sort()
print(numbers)

number_list=list(range(1,11))
number_list.reverse()
print(number_list)

number_list=list(range(1,11))
number_list.sort(reverse=True)
print(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][2:5:2])

['water']

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
#list_name1=[]
print(grocer[1][2:5:2])
print(grocer[1:2:2])

['water']
[['orange', ['apple', 'eggplant', 'melon', 'spinach', 'cheese', 'leek'], 'water']]

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }

print(student_ages["Clark"])

32

In [ ]:
year=2100  # enter a year
# # prints True if the given year by the user is a leap year, prints False otherwise.
print(( year%4==0 and not year%100==0 or year%400==0) and True)

False

In [ ]:
year=2008  # prints True if the given year by the user is a leap year, prints False otherwise.

print((not year%4 and year%100 or not year%400) and True)

True

In [ ]:
list=['@', '*_', 'False']
print(list)

['@', '*_', 'False']

In [ ]:
ord("@")
ord("*")
ord("F")

70

In [ ]:
city_list=[['New york', ]]

In [ ]:
print(len(set('listen to the voice of enlisted')))

13

In [ ]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [ ]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]

print(fruits_vegetables[3][0])

spinach

In [ ]:
[]
#list['123']
#list(123)
list()
()
[123]
[True, []]
#list[123]

[True, []]

In [ ]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
family_members = tuple(list(family_members))

print(family_members)

('Meghan', 'Tom', 'Nicole', 'Tim')

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3, 5, 3, 8, 2, 3]

numbers_1=max(numbers,key=numbers.count)

print('The most frequent number is {result} and it was {repeat} times repeated.'.format(result=numbers_1, repeat=numbers.count(3)))

The most frequent number is 3 and it was 6 times repeated.

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3 , 5, 3, 8, 2, 3]

numbers.count(3)

6

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3 , 5, 3, 8, 2, 3]

numbers_1 = max(numbers,key=numbers.count)

print (numbers_1)

numbers_2 = numbers.count(numbers_1)

print(numbers_2)

print('The most frequent number is {result} and it was {repeat} times repeated.'.format(result=numbers_1, repeat=numbers_2))

3
6
The most frequent number is 3 and it was 6 times repeated.

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [ ]:
#"My two favorite flowers are tulip and rose, two favorite colors are blue and green."

flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]

flower= (flowers[0][2] + " " + "and" + " "+ flowers[0][1][1])
color= (colors[1][0]+ " " + "and" + " " + colors[1][1][1])

print("My two favourite flowers are {text_1} and two favorite colors are {text_2}.".format(text_1=flower, text_2=color))

My two favourite flowers are tulip and rose and two favorite colors are blue and green.

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]

flower= (flowers[0][2] + " " + "and" + " "+ flowers[0][1][1])

print(flower)

tulip and rose

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old. I have two children. Data Science is my IT domain."

sentence = "I am 40 years old.\n\t I have two children.\n\t\t Data Science is my IT domain."

sentence_1 = "I am 40 years old.{} I have two children.{} Data Science is my IT domain.".format( "\n\t", "\n\t\t")

print(sentence)
print(sentence_1)

I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.
I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.

In [ ]:
x=3
num1=float(x)
#{:.2f}".format(num1)
print("{:.2f}".format(num1))

3.00

In [ ]:
count, fruit, price = (2, 'apple', 3.5)

count, fruit, price = 

print(count, fruit, price)

2 apple 3.5

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
str = "clarusway"

rem_str = str.replace("r", "")

print(rem_str)

rep_str = str[:3] +str[4:9]

print(rep_str)

clausway
clausway

In [ ]:
text= "{}! I am a {} programmer and I {} Clarusway.".format("Hello", "new", "love")

print(text)

Hello! I am a new programmer and I love Clarusway.

In [ ]:
city= "SARAJEVO"

Text="I live in" + " " +f"{city.capitalize()}."
print(Text)

I live in Sarajevo.

In [ ]:
city = "SARAJEVO"
text = f"I live in {city.capitalize()}."
print(text)

I live in Sarajevo.

In [ ]:
name = str(input("Enter Your First Name, please: "))

if name == "Sarah" :
  print("Hello Sarah, the password is : Cohort007")
else :
  print("Hello", name ,"! See you later.")

Enter Your First Name, please: Sarah
Hello Sarah, the password is : Cohort007

In [ ]:
def my_function(a, b):
  my_function = (a**2 +b**2)**0.5
  print(my_function)
my_function(3, 4)

5.0

In [ ]:
def my_function(a, b):
    print((a**2 + b**2)**0.5)
def my_function(a, b):
    return((a**2 + b**2)**0.5)
my_function(3, 4)

5.0

In [ ]:
def my_function(width, height) :
    my_function = (width*height)
    print(my_function)
def my_function(width, height) :
    return(width*height)
my_function(3, 4)

12

In [ ]:
def longer(a, b) :
    if len(a) >= len(b) :
        print(a)
    else :
        print(b)
def longer(a, b) :
  return(len(a) >= len(b))

print(longer('Richard', 'John'))

True

In [ ]:
def longer(a, b) :
    if len(a) >= len(b) :
        print(a)
    else :
        print(b)

longer('Richard', 'John')

Richard

In [ ]:
def my_function(a,b):
    print(a*b)
my_function(10,20)

200

In [ ]:
def my_function(a,b):
  hypotenuse=(a**2+b**2)**0.5
  return hypotenuse
my_function(3,4)

5.0

In [ ]:
name = str(input("Enter your name, please: "))
password = str(input("Please, enter your password : ")
i = password

if name == "Sarah":
  print("Hello Sarah")
  for i in password :
    print(password)
    if password == "123456789" :
      print(" Have a good work.")
    else :
      print("It is wrong, try again!")
else:
  print("Hello", name, "See you later.")

SyntaxError: ignored

In [ ]:
True = False
while True:
  print(True)
  break

SyntaxError: ignored

In [ ]:
i =1
while True:
  if i%3 == 0:
    break
  print(i)
  i+=1

1
2

In [ ]:
x=["ab", "cd"]
i=0
for i in x:
  i.upper()
print(x)

['ab', 'cd']

In [ ]:
i =1
while True:
  if i%3 == 0:
    break
  print(i)

  i+=1

1
2

In [ ]:
x = "abcd"
print(len(x))

4

In [ ]:
x = ["ab", "cd"]
y = x.upper()
print(y)

AttributeError: ignored

In [ ]:
x = "abcd"
for i in range(len(x)):
  x="a"
  print(x)

a
a
a
a

In [ ]:
names = ["susan", "tom", "false"]
mood = ["happy", "sad", 0]
empty ={}

print(all(names), all(mood), all(empty), sep="/n")

True/nFalse/nTrue

In [ ]:
names = ["susan", "tom", False]
mood = [None, (), 0]
empty ={}

print(any(names), any(mood), any(empty), sep="/n")

True/nFalse/nFalse

In [ ]:
listA = ["susan", "tom", False, 0, "0"]
filtered_list = filter(None, listA)

print("The filtered elements are : ")
for i in filtered_list:
  print(i)

The filtered elements are :
susan
tom
0

In [ ]:
grocery =["bread", "water", "olive"]
enum_grocery= enumerate(grocery)
print(type(enum_grocery))
print(list(enum_grocery))

enum_grocery =enumerate(grocery, 10)
print(list(enum_grocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'water'), (2, 'olive')]
[(10, 'bread'), (11, 'water'), (12, 'olive')]

In [ ]:
number=[-222, 0, 16, 5, 10, 6]
largest_number=max(number)
smallest_number=min(number)

print(largest_number)
print(smallest_number)

16
-222

In [ ]:
numbers=[2.5, 30, 4, -15]

numbers_sum = sum(numbers)
print(numbers_sum)

numbers_sum= sum(numbers, 20)
print(numbers_sum)

21.5
41.5

In [ ]:
print(round(12))
print(round(10.8))
print(round(3.675,2))

12
11
3.67

In [ ]:
def multiply(a, b):
  print(a*b)
multiply("amazing", 3)

amazingamazingamazing

In [ ]:
def motto():
  print("Don't hesitate to reinvent yourself")
motto()

Don't hesitate to reinvent yourself

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len('Rose')
count2 = len('Orchid')
count3 = len('Tulip')
While count1 > 0 :
count1
print(flowers['Rose'])
count2
print(flowers['Orchid'])
count3
print(flowers['Tulip'])

SyntaxError: ignored

In [ ]:
i=0
for i in range(1, 5):
  print(i)

1
2
3
4

In [ ]:
a = 3
while a**2 < 299:
    print('I will stop smoking')
    a += 3

I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking

In [ ]:
ps4_price = 300

saved_amount = int(input('Please enter your saved amount: '))

while True  :
  if saved_amount <= (ps4_price/2) :
    print("You must save more, keep saving!")
    break
  elif saved_amount > (ps4_price) :
    print("Yippee! You can buy your PS4")
    break
  elif saved_amount > (ps4_price/2) :
    print("You saved more than half, keep saving!")
    break

Please enter your saved amount: 250
You saved more than half, keep saving!

In [ ]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", 
    Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [ ]:
a = 11
b = 15

if b > a:
  max = b
else :
  max = a
print(max)

15

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in range(len(weekdays)):
    print('Day', day+1, ':', weekdays[day])

Day 1 : Monday
Day 2 : Tuesday
Day 3 : Wednesday
Day 4 : Thursday
Day 5 : Friday

In [ ]:
a = 49

while a <= 62 :
  print(a)
  a += 5

49
54
59

In [ ]:
a = 49

while a % 2 != 0 :
  print(a)
  a += 5

49

In [ ]:
a = 49
while a >10 :
  print(a)
  break
  a +=5

In [ ]:
month = str(input("Please enter a month : "))
spring = "September, April, January"
autumn = "March, October, July"

if (month in spring) or (month in autumn):
    if month in autumn:
        print("This is a spring month")
    else:
        print("This is an autumn month")
else:
    print("This month is not categorized")

Please enter a month : February
This month is not categorized

In [ ]:
number = int(input('Please enter a number: '))

while True :
    for i in range(0, number):
      print(i * i)
    break

Please enter a number: 10
0
1
4
9
16
25
36
49
64
81

In [ ]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]

for i in sample_list :
  print("The type of", i, "is", type(i))

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

In [ ]:
max = a
if b > max :
  max = b
  
print(max)

991109

In [ ]:
def add(a, b):
  print(a+b)
add(3, 4)

7

In [ ]:
def calculator(a, b, math_op) :
 
    if math_op == "+" :
      print(a+b)
    elif math_op == "-" :
      print(a-b)
    elif math_op == "*" :
      print(a*b)
    elif math_op == "/" :
      print(a/b)
    else :
      print("Enter valid arguments!")

calculator(6, 5, "+")

11

In [ ]:
def calculator(a, b, "*")

In [ ]:
def absolute_value(number) :

  #this value is a absolute value.

  if num >= 0:
    return num
  else:
    return -num

print(absolute_value._doc_)

AttributeError: ignored

In [ ]:
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'x', 't']

vowels = ["a", "e", "i", "u", "o"]

def filtervowels(letters):
  if letters in vowels:
    return True
  else :
    return False

filtervowels("a")
filtered_vowels = filter(filtervowels, letters)
print("The filtered vowels are : ")
for vowel in filtered_vowels:
  print(vowel)
list(filtered_vowels)

The filtered vowels are :
a
e
i

[]

In [ ]:
a = "i"
b = "love"
c = "you"

def texter(c, a, b) :
  print(a , b , c)

In [ ]:
while True :

  number = input("Enter a number : ")

  length=len(number)
  sum=0
  for i in range(length) :
    sum = sum + int(number[i])**length
  if sum==int(number) :
    print(number, "is an Armstrong number!")
  elif sum != int(number) :
    print(number, "is not an Armstrong number!")
    break

Enter a number : 371
371 is an Armstrong number!
Enter a number : 5639
5639 is not an Armstrong number!

In [ ]:
number = input("Enter a number : ")

if int(number):
  print("it is integer") 
else :
  print("it is not")

Enter a number : 32
it is integer

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1+letter2+letter3)

print(list(numbers))

In [ ]:
nums1=[9,6,7,4]
nums2=[3,6,5,8]
numbers=map(lambda x, y: (x+y)/2), (nums1, nums2)
print(list(numbers))

TypeError: ignored

In [ ]:
word1=["you"]
word2=["i"]
word3=["love"]
sentence=map(lambda x,y,z: x + " " + y + " " + z, word2, word3, word)

for i in sentence:
  print(i)

NameError: ignored